/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/components/Sidebar.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Manrope";
  src: url(/a9b9e09fe6b69741f316.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: "sans-serif", sans-serif;
  background-color: #F8F8F8;
}

.Sidebar-module-sideBar-cTter {
  background-color: #EBEBEB;
  height: 100dvh;
  width: 230px;
}
