@font-face {
    font-family: "Manrope";
    src: url("/resources/frontend/assets/font/manrope.ttf") format("truetype");
}

$b_primary: #ffffff;
$b_secondary: #f8f8f8;
$b_darker: #ebebeb;

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    background-color: $b_secondary;
}
