@font-face {
    font-family: "Manrope";
    src: url('@assets/font/manrope.ttf') format('truetype');
}

$b_primary: #FFFFFF;
$b_secondary: #F8F8F8;
$b_darker: #EBEBEB;

body {
    margin: 0;
    font-family: 'sans-serif', sans-serif;
    background-color: $b_secondary;
}