@import "../../assets/scss/main.module";

.purchasesContent {
    height: fit-content;
    max-height: calc(100% - 170px);
    width: calc(100% - 330px);
    position: absolute;
    top: 71px;
    right: 0;
    padding: 40px 40px 40px 40px;
}

.purchasesHeader {
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    margin-bottom: 70px;
    align-items: center;
}

.purchasesBackButton {
    background-color: transparent;
    color: $c_mediumgray;
    padding: 15px 0;
    margin-right: 10px;
}

.purchasesMain {
    background-color: $b_primary;
    width: 100%;
    height: calc(100% - 68px);
    border: 1px solid $c_gray;
    border-radius: 5px;
}

.purchasesSearchFilter {
    display: flex;
    justify-content: end;
    align-items: baseline;
    padding: 20px 40px 20px 0;
    column-gap: 20px;
}

.purchasesFilter {
    background-color: $c_secondary !important;
    color: $c_mediumgray !important;
    border: 1px solid $c_gray !important;
}

.purchasesInfo {
    background-color: $b_primary;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.purchasesInfoContainer {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: max-content;
}

.purchasesInfoDetails {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.purchasesInfoDetails p {
    margin: 0;
}

.infoContainer {
    display: flex;
    column-gap: 30px;
}

.customerOrdersOptionContainer {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
