@import "../assets/scss/main.module";

.inputBox {
    width: auto;
}

.inputContainer {
    border: 1px solid $c_gray;
    border-radius: 5px;
    padding: 15px 20px;
    column-gap: 10px;
    display: flex;
    align-items: center;
}

.inputContainer:focus-within {
    outline: 1px solid $c_primary;
}

.input {
    font-size: 16px;
    border: none;
    height: 100%;
    width: 100%;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: $c_darkgray;
}

.inputLabel {
    color: $c_darkgray;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.inputError {
    color: #d62828;
    margin: 5px;
    font-size: 14px;
}

.inputPeso {
    font-size: 16px;
    font-weight: normal;
    color: $c_mediumgray;
}
