@import "../assets/scss/main.module.scss";

.orderItemContainer {
    .orderItemInfo {
        display: flex;
        color: $c_primary;
        border-bottom: 1px solid $c_gray;
        padding-bottom: 20px;
        margin-bottom: 20px;

        .image {
            height: 70px;
            width: 70px;
            background-color: $c_gray;
        }

        .description {
            margin: 0 15px;

            p {
                font-weight: 800;
                margin-bottom: 5px;
            }

            div {
                font-size: 13px;
                color: $c_darkgray;
                background-color: $c_gray;
                border-radius: 4px;
                padding: 5px 10px;
                width: fit-content;
            }
        }

        .priceQuantity {
            margin-left: auto;
            text-align: left;
            width: 200px;

            span {
                display: inline-block;
                font-size: 14px;
                margin-right: 20px;
            }
        }

        .itemTotalPrice {
            font-size: 14px;
        }
    }
}
