@import "../assets/scss/main.module.scss";

.role {
    font-size: 15px;
    font-weight: bolder;
    background-color: #d62828;
    color: $c_secondary;
    padding: 14px 18px;
    border-radius: 40px;
    height: fit-content;
}
