@import "../assets/scss/main.module";

.sort {
    position: absolute;
    top: 65px;
    background: #ffffff;
    padding: 25px 20px;
    border: 1px solid $c_gray;
    border-radius: 5px;
    min-width: 270px;
    display: flex;
    flex-flow: column;
    row-gap: 30px;
}

.sortRadiobox {
    font-size: 16px;
    font-weight: bold;
    color: $c_dark;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: baseline;
}

.sortRadioboxSecondTitle {
    color: $c_mediumgray !important;
    display: contents;
}

.sortRadioboxOption {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sortRadioboxLabel {
    font-weight: normal;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sortRadioboxCircle {
    height: 20px;
    width: 20px;
    scale: 1;
    border-color: $c_mediumgray;
}

// .sortPrice {
//     font-size: 16px;
//     font-weight: bold;
//     color: $c_dark;
//     display: flex;
//     flex-direction: column;
//     row-gap: 20px;
// }

// .sortInputLabel {
//     font-size: 13px !important;
// }

// .sortInputContainer {
//     padding: 10px 15px !important;
// }

.sortButtonContainer {
    display: flex;
    column-gap: 10px;
    justify-content: end;
}

.sortClearButton {
    border: 2px solid $c_primary;
    color: $c_primary;
    background-color: $c_secondary;
    padding: 10px 18px;
}

.sortApplyButton {
    padding: 10px 18px;
}
