.tag {
    font-size: 13px;
    font-weight: 600;
    color: #3f3f3f;
    background-color: #d7d7d7;
    border-radius: 50px;
    padding: 5px 15px;
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
