@import "../assets/scss/main.module";

.container {
    height: fit-content;
    max-height: calc(100% - 170px);
    width: calc(100% - 310px);
    position: absolute;
    top: 71px;
    right: 0;
    padding: 40px 40px 40px 40px;
}

.header {
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    height: 54px;
}

.mainContent {
    background-color: $b_primary;
    margin-top: 20px;
    width: 100%;
    height: calc(100% - 68px);
    border: 1px solid $c_gray;
    border-radius: 5px;
}

.contentOptions {
    display: flex;
    justify-content: end;
    align-items: baseline;
    padding: 20px 40px 20px 0;
    column-gap: 20px;
}

.options {
    background-color: $c_secondary !important;
    color: $c_mediumgray !important;
    border: 1px solid $c_gray !important;
}

.optionsContainer {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
