@import "../../assets/scss/main.module.scss";

.deleteEmployeeTitle {
    font-size: 24px;
    font-weight: bolder;
}

.deleteEmployeeText {
    font-size: 16px;
    margin-top: 10px;
    max-width: 500px;
}

.deleteEmployeeConfirmation {
    width: fit-content;
    margin-top: 30px;
}

.deleteEmployeeConfirmationInput {
    width: fit-content;
    margin-top: 10px;
}

.deleteEmployeeButton {
    display: flex;
    justify-content: end;
    column-gap: 16px;
    margin-top: 40px;
}

.deleteEmployeeCancel {
    border: 1px solid $c_mediumgray;
    color: $c_mediumgray;
    background-color: transparent;
}

.deleteEmployeeSubmit {
    color: $c_secondary;
    background-color: #d62828;
}
